/* When someone enters your game, you only want them to see the opening and the option buttons. The code below will use the display property to hide certain parts of the story. Remove the comments from the code below when you're ready for that step!*/

/* Feel free to change any of the styling below!*/
html,
body {
    margin: 0;
    padding: 0;
}

/* Style the body with a background color or image if desired */
body {
    font-family: sans-serif;
    background-color: #166F64;
    text-align: center;
    padding: 20px;
    color: #F2D08D;
}

/* Style the title of your story */
.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the story opening container */
.story-opening {
    background-color: #F2D08D;
    border: 1px solid #166F64;
    padding: 20px;
    border-radius: 10px;
}

/* Style the story image */
.story-opening img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 2 px solid #166F64;
}

/* Style the story opening message */
.story-opening h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color:#166F64;
}

/* Style the buttons container */
.buttons {
    margin: 20px;
    align-items: center;
}

/* Style the option buttons */
button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    color: #F2D08D;
    background-color: #166F64;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.start-again {
    color:#166F64;
    background-color:#F2D08D;
}

button:hover {
    background-color: #21897d;
}

/* Style the screens for option one and option two */
.start {
    background-color: #F2D08D;
    border: 1px solid #166F64;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #166F64;
    margin-bottom: 10px;
    color:#166F64;
}
.option-one-screen,
.option-two-screen,
.option-three-screen,
.option-four-screen,
.option-five-screen,
.option-six-screen,
.option-seven-screen,
.option-eight-screen,
.option-nine-screen {
    background-color: #F2D08D;
    border: 1px solid #166F64;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #166F64;
    margin-bottom: 10px;
    display: none;
    color:#166F64;
}

.option-ten-screen {
    background-color: #F2D08D;
    border: 1px solid #166F64;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #166F64;
    margin-bottom: 10px;
    display: none;
    color:#166F64;
}

.heading-home-screen {
    background-color: #F2D08D;
    border: 1px solid #166F64;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #166F64;
    margin-bottom: 10px;
    display: none;
    color:#166F64;
}

/* Style the images in the screens */
.option-one-screen img,
.option-two-screen img,
.option-three-screen img,
.option-four-screen img,
.option-five-screen img,
.option-six-screen img,
.option-seven-screen img,
.option-eight-screen img,
.option-nine-screen img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 5 px solid #166F64;
}
.option-ten-screen img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 5 px solid #166F64;
}
.heading-home-screen img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 5 px solid #166F64;
}

/* Style the text in the screens */
.option-one-screen h1,
.option-two-screen h1,
.option-three-screen h1,
.option-four-screen h1,
.option-five-screen h1,
.option-six-screen h1,
.option-seven-screen h1,
.option-eight-screen h1,
.option-nine-screen h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.option-ten-screen h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.heading-home-screen h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.option-1,
.option-2 {
    display:none;
}
.option3,
.option4,
.option5,
.option6,
.option7,
.option8,
.option9 {
    display:none;
}
.option10 {
    display:none;
}
.heading-home-7 {
    display:none;
}
.heading-home-8 {
    display:none;
}
.heading-home-9 {
    display:none;
}
.heading-home-10 {
    display:none;
}
.option-one-screen,
.option-two-screen,
.option-three-screen,
.option-four-screen,
.option-five-screen,
.option-six-screen,
.option-seven-screen,
.option-eight-screen,
.option-nine-screen {
    display:none;
}
.option-ten-screen {
    display:none;
}
.heading-home-screen {
    display:none;
}
.story-opening {
    display: none;
}
.name {
    display:inline;
    font-size: 20px;
}
.passenger-1 {
    display:inline;
    font-size: 20px;
}
.passenger-2 {
    display:inline;
    font-size: 20px;
}
.passenger-3 {
    display: inline;
    font-size: 20px;
}
